.wrapper {
    position: relative;
    overflow: hidden;
   
    height: 500px; 
    border: 1px solid black;
}

#slide {
    position: absolute;
    left: -1900px;
    width: 1000px;
    height: 100px;
    transition: 1s;
}

.wrapper:hover #slide {
    transition: 1s;
    left: 0;
}